{% extends 'population/base.html' %}

{% block content %}
<h2>Dữ liệu Dân số Việt Nam</h2>
<p><a href="{% url 'region_stats' %}?calculate=region_stats"><button>Tính tỷ trọng theo vùng</button></a></p>

<table>
    <tr>
        <th>Khu vực</th>
        <th>Dân số</th>
        <th>Diện tích</th>
        <th>Mật độ dân số</th>
        <th>Vùng</th>
    </tr>
    {% for population in populations %}
    <tr>
        <td>{{ population.khu_vuc }}</td>
        <td>{{ population.dan_so }}</td>
        <td>{{ population.dien_tich }}</td>
        <td>{{ population.mat_do_dan_so }}</td>
        <td>{{ population.vung }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}